.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    animation: spin 1s linear infinite;
    height: 10%;
    width: 10%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.allPokemon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 10px;
    list-style: none;
    margin-left: -35px;
}

.allPokemon li {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

.allPokemon li .pokemon {
    margin-bottom: -30px;
}

.types {
    text-align: center;
    margin-top: -15px;
}

.type1,
.type2 {
    height: 30px;
    width: 120px;
    margin: 0 5px;
}

.detalles {
    margin-bottom: 5px;
}

.pageButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .allPokemon {
        grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
    }
}

@media screen and (max-width: 468px) {
    .allPokemon {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}